################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs
/icon-green38.png
/icon-green512.png
/.vs/config
/misc
/releases
/icon-shadow.png
/packages/Microsoft.CodeQuality.Analyzers.2.9.8/analyzers/dotnet/cs
