################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs/SpaceAge/v14
/icon-green38.png
/icon-green512.png
/.vs/config
